.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.card {
    perspective: 150rem; /* property to get better flip motion */
    -moz-perspective: 150rem;
    position : relative ;
  
    &_side {
       background-color : orangered ;
       color : #fff ;
       font-size : 2rem ; 
       height : 30rem ;
       transition : all .8s ;
       position : absolute;
       top : 0 ;
       left : 0 ; 
       width : 100% ;
       backface-visibility : hidden ;
      /* property to hide the back after 180 rotation */
    }

    &_front {
      background-color : orangered ;
    }

    &_back {
      background-color : green ;
      transform : rotateY(180deg)
    }
    
    /* on hover,rotate front as well as back */
    &:hover &_front {
      transform : rotateY(180deg)
    }

    &:hover &_back{
      transform : rotateY(0deg)
    }
  
  &_details {
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
    }
    & li{      
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
    }
  }
}



